@model Corona_virus_management_system.Models.Vaccine

@{
    ViewData["Title"] = "Edit";
}

<div style="margin-top: 20px; text-align: center;">
    <h1 style="font-weight:bold">Edit Vaccine</h1>
</div>

<h4>Vaccine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" value="@ViewBag.MemberId" />
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div style="height: 2em;"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div style="display: flex; justify-content: center;">
    <a asp-action="Index" asp-route-memberId="@Model.MemberId" class="btn btn-link" style=" align-self: flex-start; margin-bottom: 10px; width: 300px; padding: 20px 40px; font-size: 24px;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
